* {
  font-family: sans-serif;
  font-size: 1em;
}

a:-webkit-any-link {
    color:inherit;
    text-decoration:inherit;
}

/** Top right side content **/

.right_side {
  float:right;
  font-size: .80em;
  font-family: sans-serif;
  clear:both;
  margin-right:1.2em;
  margin-top:1em;
  padding-top:2px;
  text-decoration: none;
  color:rgb(85, 85, 85);

}

.items {
  display:inline-block;
  padding-right:14px;
  font-weight: 100;
  text-decoration: none;
}

.items:visited {
  text-decoration: none;
}

.items:hover {
  text-decoration:underline;
}

/* small table */

table {
  margin-bottom: -5px;
}


table tr td {
  color: grey;
  width: 4px;
  height: 4px;
  background-color: grey;
  border-spacing: 1px;
}

/* Button */
.sign {
  border-radius:2px;
  background-color:#3366FF;
  box-shadow: none;
  border:none;
  width:70px;
  height:30px;
  font-weight:bold;
  color:white;
}

.sign:focus {
  outline:none;
  background-color: #3333FF;
}

#logo {
  clear:both;
  margin:auto;
  display:block;
  width:275px;
  height:220px;
  padding-top:18px;
  padding-left:2px;
}

#google {
  margin-top: 50%;
}

#search {
  margin:auto;
  display:block;
  width:475px;
  height:100px;
  padding-top:30px;
}

#search_box {
  width:100%;
  height:38px;
  box-shadow: 0 4px 5px	rgb(200,200,200), 0px 0px 0px 0px rgba(0,0,0,1);
  border-top: 1px solid rgba(192,192,192,.5);
  border-right: 1px solid rgba(192,192,192,1);
  border-bottom: 1px solid rgba(192,192,192,1);
  border-left: 1px solid rgba(192,192,192,.5);
  padding-left:14px;
}

a > img {
  position: relative;
  float:right;
  width:28px;
  height:28px;
  margin-top: -35px;
}

#search_box:focus {
  outline:none;
}


.button {
  margin:auto;
  margin-top:-25px;
  width:375px;
  height:50px;
}

.btn1, .btn2 {
  margin-left:55px;
  padding:10px;
  font-weight:bold;
  color: rgb(130,130,130);
  font-size:13px;
  border:1px solid rgba(192,192,192, 0.1);
  background-color: rgba(192,192,192, 0.1);
}

.btn2 {
  margin-left: 5px;
}

.btn1:focus {
  outline:none;
}

.btn2:focus {
  outline:none;
}

.btn1:hover {
  border:1px solid rgba(192,192,192, 0.8)
}

.btn2:hover {
  border:1px solid rgba(192,192,192, 0.8)
}

footer {
  margin:auto;
  width:auto;
  height:40px;
  border: 1px solid rgba(192,192,192, 0.5);
  background-color: rgba(192,192,192, 0.1);
  position:absolute;
  right:0;
  bottom: 0;
  left:0;
}

.bottom_left {
  font-family: Arial;
  font-size: 13.5px;
  font-weight:lighter;
  float:left;
  margin:auto;
  color: rgb(110,110,110);

}

.bottom_right {
  font-family: Arial;
  font-size: 13.5px;
  font-weight:lighter;
  float:right;
  margin:auto;
  color: rgb(110, 110, 110);
  margin-top:2px;
}

.bottom_left > a {
  line-height: 40px;
  margin-left: 30px;
}

.bottom_right > a {
  line-height: 40px;
  margin-right: 30px;
}
